# Composer
/vendor/
composer.lock

# NPM
/node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*.log
.env

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db